/* Loading Shroud */
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("$images/loader.gif") center no-repeat;
}
body.loading{
    overflow: hidden;
}
body.loading .overlay{
    display: block;
}
nav {
    display: inline-block;
    float: left;
    padding-left: 0.25em;
}
nav a {
    background: #7d7db3;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0 0 5px 5px;
    padding: 0.5em 0.75em;
    border-bottom: none;
    cursor: pointer;
    border: #008;
}
nav a.is-active {
    background: #4545e6;
    color: yellow !important;
}
nav form {
    display: inline;
}
div.group {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 0.25em;
}
div.group label > * {
    margin: 0 0.125em 0 0.25em;
}
#tabs {
    margin: 0.5em 0 0 1em;
}
#tabs .button {
    color: #fff;
    background: #7d7db3;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    padding: 0.5em 0.75em;
    border-bottom: none;
    cursor: pointer;
    border: #008;
    margin: 0 0.25em 0 0;
}
#tabs .button span {
    text-decoration: underline;
}
#tabs .button.is-active {
    background: #4545e6;
    color: yellow !important;
}
#tabs .button .tabicon {
    display: inline;
    width: 1.5em;
    height: 1.5em;
    text-decoration: none;
}
#tabs .button:hover span,
#tabs .button.is-active span {
    text-decoration: underline;
}
#tabs .button:hover .tabicon,
#tabs .button.is-active .tabicon {
    text-decoration: none;
}
#tabs .button.icon {
    padding: 0.25em 0.75em;
}
#status {
    display: inline-block;
    border: 1px solid #88f;
    padding: 0.25em;
    margin: 0.5em 0;
    background-color: #ddf;
}
main h1,
main h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}
main:not(.compact)  {
    clear: both;
    padding-top: 1em
}
#content {
    border: 1px solid #008;
    border-radius: 0.5em;
    padding: 0.5em;
    background: #ddf;
}
table.list {
    border-collapse: collapse;
    background: #fff;
    font-size: 80%;
    margin: 0 auto;
    width: 100%;
}
table.list tbody tr:nth-child(odd) {
    background-color: #f0f8ff;
}
table.list tbody tr.current {
    border: 3px dashed #080;
    background-color: #dfd !important;
}
table.list tbody tr.bonus {
    border: 3px dashed #008;
    background-color: #ddf !important;
    color: #008;
}
table.list tbody tr.current a {
    color: #4a4;
}
table.list tbody tr.inactive {
    font-style: italic;
    text-decoration: line-through;
    color: #f44 !important;
    background-color: #fcc !important;
}
table.list tbody tr.inactive a {
    color: #844 !important;
}
table.list tbody tr.admin {
    font-weight: bold;
    color: #008 !important;
    background-color: #88f;
}
table.list tbody tr.admin a {
    color: #00F !important;
}
table.list thead {
    background: #9ca3af;
    font-size: 90%;
    color: #fff;
    text-align: left;
    white-space: nowrap;
}
table tbody td { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace}
table.list th,
table.list td { border: 1px solid #000; padding: 4px; }
table.list .c { text-align: center; }
table.list .r { text-align: right; }
table.list .nowrap { white-space: nowrap; }
.callsigns {
    color: black;
    width: auto;
    margin: auto;
}
.callsigns h1 {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}
.callsigns h2 {
    margin-top: 2em;
    font-weight: bold;
}
.callsigns p {
    max-width: 50em;
    text-align: justify;
    margin-bottom: 0.75em;
}
.callsigns a {
    font-weight: bold;
    color: blue;
}
table.list a {
    color: blue;
}
table.list a:hover {
    color: red;
    text-decoration: underline;
}
.stats {
    margin: 0 auto 0.75em;
}
.stats table {
    border: 1px solid #282;
    border-collapse: collapse;
}
.stats table tbody {
    text-align: right;
    color: #040;
    background: #cfc;
}
.stats table thead {
    color: #fff;
    background: #6a6;
}
.stats table th,
.stats table td {
    white-space: nowrap;
    min-width: 7em;
    padding: 0.25em 0.5em;
    border: 1px solid #080;
    font-size: 80%;
    margin: 0 auto;
}

h1 a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

.callsigns a span.band:not {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
h1 a:hover,
.callsigns a:hover,
.callsigns a:hover span
{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
fieldset {
    margin: 0.5em;
    padding: 0.5em;
    display: inline-block;
    border: 1px dashed #000;
    border-radius: 0.5em;
    background-color: #ddd;
}
label.b {
    font-weight: bold;
}
label.band {
    white-space: nowrap;
}
.bands {
    margin: 0.25em 0;
}
.band input {
    transform: scale(0.8);
}
.band {
    display: inline-block;
    border: 1px solid #888;
    background-color: grey;
    border-radius: 1em;
    padding: 0.1em 0.2em 0.2em 0.2em;
    color: white;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    min-width: 3em;
    text-align:center;
    margin-right: 0.125em;
}
.band160m{background-color:rgba(124, 252, 0, 0.6);color:black;}
.band80m{background-color:rgba(229, 80, 229, 0.6);color:black;}
.band60m{background-color:rgba(0, 0, 139, 0.6);color:white;}
.band40m{background-color:rgba(89, 89, 255, 0.6);color:black;}
.band30m{background-color:rgba(98, 217, 98, 0.6);color:black;}
.band20m{background-color:rgba(242, 196, 12, 0.6);color:black;}
.band17m{background-color:rgba(242, 242, 97, 0.6);color:black;}
.band15m{background-color:rgba(204, 161, 102, 0.6);color:black;}
.band12m{background-color:rgba(178, 34, 34, 0.6);color:white;}
.band11m{background-color:rgba(0, 255, 0, 0.6);color:black;}
.band10m{background-color:rgba(255, 105, 180, 0.6);color:black;}
.band8m{background-color:rgba(127, 0, 241, 0.6);color:black;}
.band6m{background-color:rgba(255, 0, 0, 0.6);color:white;}
.band5m{background-color:rgba(224, 224, 224, 0.6);color:black;}
.band4m{background-color:rgba(204, 0, 68, 0.6);color:black;}
.band2m{background-color:rgba(255, 20, 147, 0.6);color:black;}
.band1_25m{background-color:rgba(204, 255, 0, 0.6);color:black;}
.band70cm{background-color:rgba(153, 153, 0, 0.6);color:black;}
.band23cm{background-color:rgba(90, 184, 199, 0.6);color:black;}
.bandSpare{background-color:rgba(153, 0, 102, 0.6);color:black;}
.banduhf{background-color:rgba(255, 147, 147, 0.6);color:black;}
.bandvlf{background-color:rgba(255, 131, 0, 0.6);color:black;}

.mode {
    border: 1px solid gray;
    background-color: grey;
    border-radius: 0;
    padding: 0.1em 0.2em 0.2em 0.2em;
    color: white;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}
.mode.mFM{background-color:rgba(64,128,64,0.6)}
.mode.mSSB{background-color:rgba(255,64,64,0.6)}
.mode.mFT4{background-color:rgba(64,64,128,0.6)}
.mode.mFT8{background-color:rgba(64,64,255,0.6)}
footer {
    margin: 0;
    padding: 1em 0;
}
footer a {
    color: blue;
}
.logs input[type=text],
.logs select {
    font-size: 80%;
    padding: 0.125em 0.5em;
    border-radius: 0.25em;
}
/* Table sort indicators */

th.sortable {
    position: relative;
    cursor: pointer;
}

th.sortable::after {
    font-family: FontAwesome;
    content: "\f0dc";
    position: absolute;
    left: 8px;
    color: #fff;
}

th.sortable.asc::after {
    content: "\f0d8";
    color: #0f0;
}

th.sortable.desc::after {
    content: "\f0d7";
    color: #0f0;
}
th.sortable.asc,
th.sortable.desc {
    color: #0f0;
}
th.sortable:hover,
th.sortable:hover::after {
    color: #ff0;
}
.gridLabel {
    position: absolute;
    z-index: -100000;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    opacity: 0.9;
}
.gridLabel.teal {
    color: #408080;
}
.gridLabel.pink {
    color: #fff0f0;
}
.gridLabel.brown {
    color: #606000;
}
.map_info h3 {
    margin: 0;
    font-size: 10pt;
    display: block;
}
.map_info .info-body {
    padding: 0;
    margin: 2px 0;
    border: 1px solid #ccc;
}
.map_info .info-body tbody {
    padding: 2px;
    margin: 0;
}
.map_info .info-body tbody th {
    vertical-align: top;
    padding: 3px;
    font-size: 8pt;
    text-align: left;
    width: 10em;
}
.map_info .info-body tbody td {
    vertical-align: top;
    padding: 3px;
    font-size: 10pt;
    width: 16em;
}


.map {
    margin: 0;
}
.map #header .form_layers {
    display: inline-block;
    background: #ffffff;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.map #header .form_layers div {
    height: 1.8em;
    line-height: 1.8em;
    float: left;
    padding: 0 4px;
    margin: 0;
}
.map #header .form_layers div input[type='checkbox'] {
    padding: 0;
    margin: 0;
}
.map #header .form_layers div label {
    padding: 0 0.25em;
}
.map #header .form_layers div:last-child {
    border-radius: 0 5px 5px 0;
}
.map #map {
    height: 80%;
    margin: 0 0.25em;
    overflow: auto;
    border: 1px solid #aaa;
}
.map h1 {
    margin: 0.125em 5px;
    white-space: nowrap;
}
.map .gm-style-iw h2 {
    margin: 0.25em 0;
}
.map .gm-style-iw p {
    margin: 0.25em 0;
}
.txt_vertical {
    width: 1.5em;
    vertical-align: bottom;
    text-align: center;
}
.txt_vertical div {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    white-space: nowrap;
    margin-bottom: 0.25em;
    text-align: right;
    display: table;
    border-spacing: 0;
}
div.scroll {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
div.scroll div {
    height: 100%;
    overflow: auto;
}
div.scroll div table.results {
    border-top: 2px solid #808080;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
    background: #ffffff;
}
div.scroll div table.results thead th {
    position: sticky;
    top: -1px;
    border-top: none;
    border-bottom: none;
}
div.scroll div table.results tbody tr:hover,
div.scroll div table.results tbody tr:hover td {
    background: #ffff00 !important;
}
div.scroll div table.results img {
    margin: 0.5em 0.25em 0 0;
}
/* [ Grid CSS ] */
.results {
    width: 390px;
    overflow: auto;
    margin: 0;
    border-collapse: collapse;
}
.results thead th {
    height: 4em !important;
    max-height: 4em !important;
    background: #686868;
    color: #ffffff;
    border: 1px solid #808080;
    vertical-align: bottom;
    font-size: 8pt;
    padding: 0.25em;
}
.results thead th.hidden {
    display: none;
}
.results thead th.sort {
    border-bottom: 3px solid #a0a0a0 !important;
}
.results thead th.nosort {
    background: #008000;
    border-bottom: 3px solid #006000;
}
.results thead th.sort:hover,
.results thead th.sorted {
    border-bottom: 3px solid #FCC247 !important;
    background: #665d4b;
    cursor: pointer;
}
.results thead th.sorted {
    color: #ffe4b3;
}
.results thead th b {
    background: #ffffa0;
    color: #0000ff;
    border: 1px solid #b0b000;
    border-radius: 2px;
}
.results tbody th {
    padding: 0.125em 0.25em;
    vertical-align: top;
    background: #95de95;
    color: #008000;
    font-weight: bold;
    border: 1px solid #808080;
}
.results tbody th.no-results {
    background: #de9595;
    color: #800000;
}

.results td {
    border: 1px solid #808080;
    height: 1.25em;
    vertical-align: top;
    font-size: 8pt;
    padding: 0.125em 0.25em;
}
.results td.r {
    text-align: right;
}
.results .nowrap {
    white-space: nowrap;
}
.map_info {
    margin-top: 0.5em;
}
.map_info h3 {
    margin-bottom: 0.25em;
}
.map_info #close {
    font-size: 8px;
    padding: 0 3px;
    margin-bottom: 0.5em;
    display: block;
    float: right;
    text-decoration: none;
    background: #f00;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}
.map_info .results thead th {
    height: 2em !important;
    max-height: 2em !important;
}
.map_info h3:after {
    content: '';
    display: block;
    clear: both;
}
.gm-style-iw-chr {
    display: none;
}
#gsqs tbody tr.highlight td {
    border-color: #080;
    background: #d0ffd0;
}
.changes {
    clear: both;
    margin: 3em auto 0.5em auto;
    padding: 0.5em 1em;
    float: none;
    width: 90%;
    background: #fff;
    border: 1px solid #888;
    border-radius: 1em;
}
.changes h1 {
    font-weight: bold;
    text-align: center;
}
.changes ul li {
    margin-bottom: 0.5em;
}
.changes a {
    color: #00f;
}
.changes a:hover {
    color: #f00;
    text-decoration: underline;
}
.changes span {
    padding: 0.125em 0.25em;
    font-weight: bolder;
    background: #6f6;
}
.changes span.new {
    color: #f00;
    border: 1px solid #880;
    background: #ff6;
    border-radius: 0.55em;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
