#qthinfo h2 {
    font-size: 1em;
}
#qthinfo h2,
#qthinfo p {
    text-align: center;
    margin: 0.25em auto;
    font-family: Figtree,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
}
.btn {
    margin: 0 0 0.25em 0.25em;
    font-size: 70%;
    color: white !important;
    text-decoration: none;
    padding: 0.25em;
    border-radius: 0.5em;
}
.btn.r {
    background: #a44;
}
.btn.g {
    background: #484;
}
.btn.b {
    background: #44f;
}
.btn.blk {
    background: #000;
}
.btn.o {
    background: #f60;
}
.btn:hover {
    color: yellow;
}
.btn.r:hover {
    background: #f44;
}
.btn.g:hover {
    background: #686;
}
.btn.b:hover {
    background: #88f;
}
.btn.o:hover {
    background: #fc0;
}
#btnCurrent {
    font-weight: bold;
    text-decoration: underline;
    color:#00f;
}
#btnCurrent:hover {
    color:#f00;
}
#qthinfo table {
    border-collapse: collapse;
    margin: 0 auto;
}
#qthinfo table thead th {
    background: #888;
    color: #fff;
    font-family: Figtree,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
}
#qthinfo table tbody td {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
}
#qthinfo table tbody tr.totals td {
    font-weight: bold;
    text-align: left;
    background: #eee;
    color: #000;
}
#qthinfo table th,
#qthinfo table td {
    color: #444;
    border: 1px solid #444;
    padding: 4px 5px;
    vertical-align: top;
}
#qthinfo table tbody tr.testGsq td {
    background: #e0ffe0;
}
#qthinfo table tbody td.r {
    text-align: right !important;
}
#qthinfo table td a {
    text-decoration: none;
    color: #00f;
}
#qthinfo table td a:hover {
    color: #f00;
    text-decoration: underline;
}
#qthinfo table td.gsq:hover {
    cursor: help;
    color: #f00;
    background-color: #ff8;
    text-decoration: underline;
}
#qthinfo table td.test {
    background: #afa;
}
#qthinfo table td.test input,
#qthinfo table td.test input:focus {
    border: none !important;
    padding: 0;
    color: #040;
    font-weight: bold;
    background: transparent;
}
#qthinfo p.cta {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 70%;
}
#qthinfo p.cta a {
    color: #00f;
    font-weight: bold;
}
@media print {
    h2, p {
        display: none;
    }
    td, a {
        color: #000 !important;
    }
    td {
        padding: 0.25em 0.5em 0.25em 0.5em !important;
    }
}
