#qthinfo h2 {
    font-size: 1em;
}
#qthinfo h2,
#qthinfo p {
    text-align: center;
    margin: 0.25em auto;
    font-family: Figtree,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
}
.btn {
    display: inline-block;
    margin: 0 0 0.25em 0.25em;
    font-size: 70%;
    min-width: 2.5em;
    text-align: center;
    color: white !important;
    text-decoration: none;
    padding: 0.25em;
    border-radius: 0.5em;
}
.btn.r {
    background: #a44;
}
.btn.g {
    background: #484;
}
.btn.b {
    background: #44f;
}
.btn.blk {
    background: #000;
}
.btn.o {
    background: #f60;
}
.btn:hover {
    color: yellow;
}
.btn.r:hover {
    background: #f44;
}
.btn.g:hover {
    background: #686;
}
.btn.b:hover {
    background: #88f;
}
.btn.o:hover {
    background: #fc0;
}
#btnCurrent:hover {
    text-decoration: underline;
    color:#f00;
}
#lastQth {
    border: 4px solid #f00;
    background: #ffc;
}
.bandsTen {
    border: 2px solid #080;
    background: #dfd;
    font-weight: bolder;
}
a.url {
    color: #00f;
    font-weight: bold;
    text-decoration: underline;
}
a.url:hover {
    color: #f00;
    background: #ffc;
}
.bandCount {
    display: inline-block;
    text-align: right;
    width: 1.5em;
    font-weight: bold;
}
.band {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #888;
    background-color: grey;
    border-radius: 1em;
    padding: 0.25em;
    color: white;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25em;
    min-width: 2em;
    text-align:center;
    margin-right: 0.125em;
    font-weight: 100;
}
.band160m{background-color:rgba(124, 252, 0, 0.6);color:black;}
.band80m{background-color:rgba(229, 80, 229, 0.6);color:black;}
.band60m{background-color:rgba(0, 0, 139, 0.6);color:white;}
.band40m{background-color:rgba(89, 89, 255, 0.6);color:black;}
.band30m{background-color:rgba(98, 217, 98, 0.6);color:black;}
.band20m{background-color:rgba(242, 196, 12, 0.6);color:black;}
.band17m{background-color:rgba(242, 242, 97, 0.6);color:black;}
.band15m{background-color:rgba(204, 161, 102, 0.6);color:black;}
.band12m{background-color:rgba(178, 34, 34, 0.6);color:white;}
.band11m{background-color:rgba(0, 255, 0, 0.6);color:black;}
.band10m{background-color:rgba(255, 105, 180, 0.6);color:black;}
.band8m{background-color:rgba(127, 0, 241, 0.6);color:black;}
.band6m{background-color:rgba(255, 0, 0, 0.6);color:white;}
.band5m{background-color:rgba(224, 224, 224, 0.6);color:black;}
.band4m{background-color:rgba(204, 0, 68, 0.6);color:black;}
.band2m{background-color:rgba(255, 20, 147, 0.6);color:black;}
.band1_25m{background-color:rgba(204, 255, 0, 0.6);color:black;}
.band70cm{background-color:rgba(153, 153, 0, 0.6);color:black;}
.band23cm{background-color:rgba(90, 184, 199, 0.6);color:black;}
.bandSpare{background-color:rgba(153, 0, 102, 0.6);color:black;}
.banduhf{background-color:rgba(255, 147, 147, 0.6);color:black;}
.bandvlf{background-color:rgba(255, 131, 0, 0.6);color:black;}
.band10logs {
    font-family: "Arial Black";
    font-weight: 900;
}
#currentGsq {
    width: 8em;
    padding: 0;
    background: transparent;
    border: none;
}
#qthinfo table {
    border-collapse: collapse;
    margin: 0 auto;
}
#qthinfo table thead th {
    background: #888;
    color: #fff;
    font-family: Figtree,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
#qthinfo table tbody td {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 70%;
}
#qthinfo table tbody tr.totals td {
    font-weight: bold;
    text-align: left;
    background: #eee;
    color: #000;
}
#qthinfo table th,
#qthinfo table td {
    color: #444;
    border: 1px solid #444;
    padding: 4px 5px;
    vertical-align: top;
}
#qthinfo table tbody tr.testGsq td {
    background: #e0ffe0;
}
#qthinfo table tbody td.r {
    text-align: right !important;
}
#qthinfo table tbody td.help {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
#qthinfo table th.qth,
#qthinfo table td.qth {
    max-width: 20em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#qthinfo table .bandnames {
    white-space: nowrap;
}
#qthinfo table span.band {
    margin: 0 0.1em;
    padding: 0.05em 0.25em;
}
#qthinfo table td a {
    text-decoration: none;
    color: #00f;
}
#qthinfo table td a:hover {
    color: #f00;
    text-decoration: underline;
}
#qthinfo table td.gsq:hover {
    cursor: help;
    color: #f00;
    background-color: #ff8;
    text-decoration: underline;
}
#qthinfo table td input.test {
    background: #afa;
}
#qthinfo table td input.test,
#qthinfo table td input.test:focus {
    border: 1px solid #008;
    padding: 0;
    color: #040;
    font-weight: bold;
    background: #c0ffc0;
}
#qthinfo p.cta {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 70%;
}
#qthinfo p.cta a {
    color: #00f;
    font-weight: bold;
}
@media print {
    h2, p {
        display: none;
    }
    td, a {
        color: #000 !important;
    }
    td {
        padding: 0.25em 0.5em 0.25em 0.5em !important;
    }
}
